<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OATTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OATTest.Properties.Settings>
            <setting name="CommandDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="DebugPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DebugBaud" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Suite" serializeAs="String">
                <value />
            </setting>
            <setting name="StopOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeparateDebugPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COMBaud" serializeAs="String">
                <value>19200</value>
            </setting>
        </OATTest.Properties.Settings>
    </userSettings>
</configuration>